<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Images without Alt Text</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style_for_formpage.css">
    <style>
        /* Custom CSS to adjust image size */
        img {
            width: 70%; /* Reduce width by 70% */
            height: auto; /* Maintain aspect ratio */
        }
    </style>
</head>
<body>

<section id="bannerTop">
    <div class="container">
        <div class="col-md-6">
        </div>
    </div>
    <img src="../static/images/wave1.png" class="bottom-img" id="wavePicture">
</section>

<div class="headerOfTablePage">
</div>

<div class="container">
    <h1>AI description of pictures</h1>

    <!--<h1>Images without Alt Text</h1>-->
    <table class="table table-hover table-striped rounded">
        <thead class="table-dark text-center">
        <tr>
            <th scope="col">#</th>
            <th scope="col">URL</th>
            <th scope="col">alt text on picture:</th>
            <th scope="col">Image:</th>
            <th scope="col">Recommended Alt text</th>
        </tr>
        </thead>
        {% for image in images %}
        <tbody class="text-center">
        <td scope="col">{{ loop.index }}</td>
        <td scope="col">{{ image.src }}</td>
        <td scope="col">{{ image.alt }}</td>
        <td scope="col">{{ image.ai }}</td>
        <td><img src="{{ image.src }}"> </td>

        </tbody>
        {% endfor %}
    </table>
<a href="homepage.html">
  <button class="btn btn-primary  " >Go back</button>
</a>
</div>



<section id="bannerBottom">
    <div class="reverse-image">
        <img src="../static/images/wave1.png" class="bottom-img" id="wavePicture">
    </div>
</section>

<!-- Bootstrap JS (optional, for certain components) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></script>
</body>
</html>
